{% extends 'base.html.twig' %}

{% block title %}Anim'Originaux - Animaux{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/animal-fiche.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="container">
        {% if location == null %}
            {% if animal == null %}
                <h2>L'animal n'existe pas !</h2>
            {% else %}    
                <div class="animal-header">
                    <img src="{{ asset('images-bdd/' ~ animal.name ~ '.jpg')}}"  alt="">
                    <div class="animal-location">
                        <span>{{ animal.price }} AOpt</span>
                        <form method="post">
                            <input name="location" type="text" value="loue" hidden>
                            <button type="submit">Louer</button>
                        </form>
                    </div>
                </div>
                <h3>{{ animal.name }}</h3>
                <div class="animal-row">
                    <h4>Poids : </h4>
                    <span>{{ animal.weight }} kg</span>
                </div>
                <div class="animal-row">
                    <h4>Taille : </h4>
                    <span>{{ animal.height }} cm</span>
                </div>
                <div class="animal-row">
                    <h4>Nourriture : </h4>
                    <span>{{ animal.food | default('Inconnue') }}</span>
                </div>
            {% endif %}
        {% else %}
            {% if location.user != app.user %}
                <h2>Animal non disponible !</h2>
            {% else %}
                <div class="animal-header">
                    <img src="{{ asset('images-bdd/' ~ animal.name ~ '.jpg')}}"  alt="">
                    <div class="animal-location">
                        <form method="post">
                            <input name="location" type="text" value="rend" hidden>
                            <button type="submit">Rendre</button>
                        </form>
                    </div>
                </div>
                <h3>{{ animal.name }}</h3>
                <div class="animal-row">
                    <h4>Poids : </h4>
                    <span>{{ animal.weight }} kg</span>
                </div>
                <div class="animal-row">
                    <h4>Taille : </h4>
                    <span>{{ animal.height }} cm</span>
                </div>
                <div class="animal-row">
                    <h4>Nourriture : </h4>
                    <span>{{ animal.food | default('Inconnue') }}</span>
                </div>
            {% endif %}  
        {% endif %}
    </div>
{% endblock %}
