{% extends 'base.html.twig' %}

{% block title %}Anim'Originaux - Animaux{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/animaux.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="animaux">
            {% for animal in animals %}
                <div class="card">
                    <img src="{{ asset('images-bdd/' ~ animal.name ~ '.jpg')}}"  alt="">
                    <div class="infos">
                        <a href="{{ path('animalInfo', {id: animal.id}) }}"><i class="fa fa-info-circle"></i></a>       
                    </div>
                    <div class="card-footer">
                        <p>{{ animal.name }} </p>
                        <span>{{ animal.price }} AOpt</span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
   
{% endblock %}