{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/admin.css') }}" rel="stylesheet"/>
{% endblock %}

{% block title %}Anim'Originaux - Administration{% endblock %}

{% block body %}
<div class="container">
    <h2>Animaux</h2>
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Poids</th>
                <th>Taille</th>
                <th>Nourriture</th>
                <th>Prix</th>
                <th>Disponible</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for animal in animals %}             
                <tr>
                    <td>{{animal.name}}</td>
                    <td>{{animal.weight}}</td>
                    <td>{{animal.height }}</td>
                    <td>{{animal.food | default('Inconnue')}}</td>
                    <td>{{animal.price}}</td>
                    <td>{{animal.disponibility ? 'oui' : 'non'}}</td>
                    <td>
                        <a href="{{ path('update', {id: animal.id}) }}" class="update"><i class="fa fa-pencil-square"></i></a>
                        <a href="{{ path('delete', {id: animal.id}) }}" class="delete"><i class="fa fa-times-rectangle"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('new')}}" class="add">Ajouter un animal</a>
</div>

{% endblock %}
